    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About 221 Prospect</h2>
              <br/>
                <p>221 Prospect is a meeting space and coworking studio located in the heart of the Downtown Bellingham Arts District. We are available for event rentals and short-term desk and office leases.</p>
                <p>Address: 221 Prospect Street, Bellingham, WA 98225</p>
                <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
                <br/>
              </div>
        </div>
    </section>
